.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 16px;
  width: calc(100% / 3);

  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    width: calc(100% / 5);
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    width: calc(100% / 7);
  }
}
