body {
  background-color: #2b2827;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%239b908d' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23a02025' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23a99d9a' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ad4d37' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b7aaa6' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b97050' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c6b8b3' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23c49070' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c5c1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23cfb096' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e3d3ce' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23dbcec0' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.app {
  font-family: muli, sans-serif;
  font-style: normal;
  font-weight: 200;
}
header {
  display: flex;
  margin-left: 16px;
  padding-bottom: 4px;
  align-items: baseline;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 1)
  );
  border-radius: 8px;
}
