.game {
  display: flex;
  flex-flow: row wrap;
  text-align: center;

  /* Large Devices, Wide Screens */
//   @media (min-width: 768px) {
//     width: calc(80% + 16px);
//     text-align: left;
//   }
}
