.game {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 16px;
  margin-top: 24px;
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
  
}
